.transAction {
  display: flex;
  justify-content: space-between;
  padding: 2px 7px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-top: 10px;
  border-right: 3px solid green;
}
.search {
  display: block;
  padding: 4px 12px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
h3 {
  display: flex;
  justify-content: center;
}
